body{
    background-color: yellow;
    font-family: fantasy;
    text-align: center;
}

.container{
    width: 100%;
}

p{
    color: red;
    font-size: 10vw;
}


#clock{
    width: 100%;
    text-align: center;       
}

#progressBarContainer{
    transform: rotate(180deg);
}

.buttonSection{
    width: 100%;
    padding-top: 3rem;
}

.roundButton{
    border-radius: 50%;
    background-color: white;
    border: 0;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    
}

.button1{
    float: left;
    width: 40%;   
}

button2{
    float: right;
    width: 40%;
}

.selector{
    background-color: white;
    padding: .8rem 1.4rem .9rem .8rem;
    width: 30%;
    border-radius: .5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    font-size: 1rem;
    text-align: center;
}